{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-12" style="background-image: url('static/img/about-bg.jpg'); height: 500px; background-position: center; background-size: cover; background-repeat: no-repeat;">
        <div style="border-top: 5px solid rgb(255, 255, 255); margin-top: 15%; margin-right: 60%; margin-left: 5%;">
            <h1 style="color: white; font-size: 70px; margin-left: 60%;">About</h1>
        </div>

    </div>
</div>

<div class="row  p-5">
    <div class="col-dm-2 " style="border-top: 5px solid #103557;;">
        <h1>
            About
        </h1>
    </div>
    <div class="col-dm-6" style="text-align: justify;">
        <h5>
            Cherian Varkey Construction Company is a family-owned private limited Construction company with internationally focused engineering and top-notch competencies in satisfying clients’ varied infrastructure development requirements. The company engages with an extensive range of construction and contracting services, offering world-class solutions for India’s most prestigious public and private organizations.
            CVCC is the brainchild of the great visionary, Mr. Cherian Varkey, who possesses expertise in construction and is in this field for more than 61 years.

            The ISO 9001:2015, 14001:2015, and 45001: 2018 certified company established in 1972 in Kochi, has now marked its presence across the country.
            The company performs projects in various sectors like buildings, roads, railways, bridges, airports, factories, power stations, marine structures, deep foundations, basements, etc., with high quality and safety standards. The company’s involvements are focused on sustainable practices that safeguard nature and giving utmost importance to maintaining safety, health, and the environment in the construction.
        </h5>

    </div>
    <div class="col-dm-2">

    </div>
</div>
{%endblock%}