{%extends 'base.html'%}
{% load static %}
{% block content %}
<style>
.map{
   
    
    background:white;
    width:1000px;
    height:500px;
    margin-left:20
}
</style>

<div class="row">
    <div class="col-sm-12 " class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d62882.613249883565!2d76.40630670799558!3d9.920351952534775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1683970666910!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    

    </div>
</div>

<div class="row  p-5">
    <div class="col-dm-2 " style="border-top: 5px solid #103557;;">
        <h1>
            Contact
        </h1>
    </div>
    <div class="col-dm-6" style="text-align: justify;">
        
    </div>
    <div class="col-dm-2">

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="col-dm-2 " >
            <div style="border-top: 5px solid #103557; margin-right: 50%;">
                <h1 style="padding-left: 58%;">
                    Address
                </h1>
            </div>
            <div style="padding: 0 10% 0 10%;">
                <h5>
                    CHERIAN VARKEY CONSTRUCTION CO PVT LTD.
                    5TH FLOOR, ALPHA PLAZA,
                    K.P. VALLON ROAD,
                    KADAVANTHRA, KOCHI – 682 020
                    KERALA, INDIA
                </h5>

            </div>
            <div style="border-top: 5px solid #103557; margin-left: 50%;">
                <h1 style="padding-right: 58%;">
                    Phone
                </h1>
            </div>
            <div style="padding: 0 10% 0 10%; text-align: center;">
                <h5>
                    0484 4120666/4120600<br>

                    Fax:91 484 2312461
                </h5>

            </div>

            <div style="border-top: 5px solid #103557; margin-right: 50%;">
                <h1 style="padding-left: 58%;">
                    Mail Id
                </h1>
            </div>
            <div style="padding: 0 10% 0 10%; text-align: center;">
                <h5>
                    mail@cherianvarkey.com
                </h5>

            </div>
            
        </div>

    </div>

    <div class="col-sm-6 pr-5 ">
        <form action="">
            <div class="row" style="background-color: #103557;">
                <div class="col-sm-12 pt-3" style="text-align: center;">
                    <h1 style="color: white;">Contact</h1>
                </div>
            </div>
            <div class="row pt-3" style="background-color: #103557;">
                <div class="col-sm-6 p-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-sm-6 p-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row" style="background-color: #103557;">
                <div class="col-sm-6 p-2">
                    <input type="text" class="form-control" placeholder="Place">
                </div>
                <div class="col-sm-6 p-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
            </div>
            <div class="row" style="background-color: #103557;">
                <div class="col-sm-12 p-2">
                    <textarea type="text" class="form-control" placeholder="text"></textarea>
                </div>
                
            </div>
            <div class="row" style="background-color: #103557;">
                <div class="col-sm-12 pb-5 pt-4" style="text-align: center;">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
            
        </form>
        
    </div>

</div>
<script>
    // Initialize the Leaflet map
var mymap = L.map('map').setView([51.505, -0.09], 13);

// Add a tile layer to the map
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    maxZoom: 18,
}).addTo(mymap);

// Add a marker to the map
L.marker([51.5, -0.09]).addTo(mymap)
    .bindPopup('A marker on the map!');
</script>
{%endblock%}